<div id="<%= dom_id post %>">
  <div>
    <strong>Title:</strong>
    <%= post.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= post.description %>
  </div>

  <div>
    <strong>Keywords:</strong>
    <%= post.keywords %>
  </div>

</div>
